$BLACK: #191A1A;
$BLACKER: #0F1010;
$BLACKEST: #0A0B0B;
$GRAY: #2C2F2F;
$WHITE_100: #FFFFFF;
$WHITE_070: rgba(255, 255, 255, 0.7);
$WHITE_090: rgba(255, 255, 255, 0.9);
$PURPLE: #955FDA;
$PURPLE_080: rgba(149, 95, 218, 0.8);
$GREEN: #78BC61;
$RED: #DA4167;
$YELLOW: #FFC857;