$black: #131216;
$black-light: #1D1C22;
$black-lighter: #26252D;
$black-even-lighter: #2F2E38;
$black-lightest: #42404F;
$white: #FFFFFF;
$white-light: transparentize($white, 0.10);
$white-lighter: transparentize($white, 0.20);
$white-lightest: transparentize($white, 0.30);
$blue: #3867F5;
$red: #F53857;
$yellow: #F5C638;
$green: #38F596;