@font-face {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    src: url("../assets/fonts/Inter-SemiBold.ttf");
}